@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .full-block {
    @apply block w-full
  }

  .btn {
    @apply py-2 px-3 border rounded-md focus:ring-4 focus:outline-none transition-colors duration-200
  }
  
  .btn-primary {
    @apply
      btn bg-violet-600 hover:bg-violet-700
      dark:bg-violet-700 dark:hover:bg-violet-800
      text-zinc-100 hover:text-white
      border-violet-600 hover:border-violet-700
      dark:border-violet-700 dark:hover:border-violet-800
      focus:ring-violet-200 dark:focus:ring-violet-500
  }

  .btn-success {
    @apply
      btn bg-green-600 hover:bg-green-700
      text-zinc-50 hover:text-white
      border-green-600 hover:border-green-500
  }

  .btn-secondary {
    @apply
      btn bg-zinc-400 hover:bg-zinc-500 dark:bg-zinc-600 hover:dark:bg-zinc-700
      text-zinc-50 hover:text-white
      border-zinc-400 dark:border-zinc-500
      hover:border-zinc-400 dark:hover:border-zinc-500
      focus:ring-zinc-200 dark:focus:ring-zinc-500
  }

  .input-default {
    @apply focus:outline-none w-full px-3 py-2 bg-zinc-50 border border-zinc-300 focus:text-zinc-900 text-sm
    rounded focus:ring-violet-500 focus:border-violet-500 block dark:bg-zinc-700 dark:border-zinc-600
    dark:placeholder-zinc-300 dark:text-zinc-300 dark:focus:text-white dark:focus:ring-violet-500
    dark:focus:border-violet-500 transition-colors duration-200;
  }

  .default-text-color {
    @apply text-zinc-700 dark:text-zinc-200
  }

  .default-border-color {
    @apply border-zinc-300 dark:border-zinc-700
  }
}